body {
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-navigation a {
    text-decoration: none;
}

.main-header {
    text-align: center;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color:  #000000; 
    background-color:#ffffff;
}

.container {
    width: 1200px;
}

.sedona-town {
    text-align: center;
    font-size: 21px;
    color: #000000;
}

.cause {
    text-align: center;
    color: #333333;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-navigation li {
    display: inline;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    background-color: blue;
}

.site-navigation a:focus {
    background-color: lightgray;
}

.welcome{
    padding: 76px;
    text-align: center; 
    background-image: url("../img/background.png");
    object-fit: contain;
    background-size: cover;
    
}

.features {
    text-align: center;
}

.visually-hidden {
    text-align: center; 
}

.features-list {
    list-style: none;  
    text-align: center;  
}

.services h2 {
    text-align: center; 
    font-family: "PT Sans", Arial, sans-serif;
}

.services-list {
    list-style: none;
}

.services-item {
    text-align: center;
}

.services-item h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
}

.interesting {
    text-align: center;
}

.more a {
    color: white;
    background: #81b3d2;
}

.booking a {
    color: white;
    background: #766357;
}

.search {
    text-align: center;
}

.index-columns {
    text-align: center;
}
}

.modal-search__body {
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px 0 var;
    
}
.search-button {
    font-size: 21px;
    width: 568px;
    height: 86px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
}

.modal-search__body {
    text-align: center;
    width: 568px;
    height: 395px;
    size: 14px;
    font-weight: bold;
}

.modal-search__body input {
    font: inherit;
    background: #f2f2f2;
    color: #000000;
}

.blue-button  {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-size: 21px;
    color: #ffffff;
}

.modal-search__body {
    background-image: url(../img/map.jpg);
    width: 1200px;
    height: 593px;
    object-fit: contain;
}

.rating {
    width: 110px;
    height: 27px;
    font-size: 14px;
    text-align: center;
    color: #666666;
    background-color: #f2f2f2;
}

.housing li {
    list-style: none;
}

.visitsedona {
    width: 136px;
    height: 16px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.social-button {
    text-decoration: none;
    background-color: #81b3d2;
    list-style: none;
} 



.developer-logo {
    width: 74px;
    height: 11px;
    font-size: 14px;
    text-align: center;
    color: #000000;
}

.logo-html {
    width: 115px;
    height: 41px;
    object-fit: contain;
}
