* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: #333333;
    background-color: #f2f2f2;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ////////////////////////////////////////////////////////// */

/* HEADER */

.main-navigation a {
    text-decoration: none;
}

.main-header {
    height: 56px;
    position: relative;
    text-align: center;
}

.main-navigation {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color:  #000000;
    background-color:#ffffff;
}

.visitsedona {
    width: 136px;
    height: 16px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

/* ////////////////////////////////////////////////////// */

/* CONTENT */

.container {
    position: relative;
    background-color: #ffffff;
    width: 1200px;
}

.sedona {
    padding: 61px 0 56px 0;
}

.sedona-town {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #000000;
    text-transform: uppercase;
    width: 440px;
    margin: 0 auto 38px;
    text-align: center;
}

.reason {
    width: 489px;
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
}

.reasons {
    padding: 50px 0 63px 0;
    font-family: "PT Sans Regular", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    color: #333333;
    background-color: #eeeeee;
}

.reasons .feature-item {
    text-transform: uppercase;
}

.feature-item__number {
    margin: 30px 0 30px 0;
}

.feature-item__text {
    width: 70%;
    margin: 0 auto;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.main-header-logo {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.site-navigation li {
    display: inline;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    background-color: blue;
}

.site-navigation a:focus {
    background-color: lightgray;
}

.welcome {
    padding: 76px;
    text-align: center;
    background-image: url(../img/intro-mask.svg), url(../img/background.png);
    background-position: center bottom, left top;
    background-repeat: no-repeat;
}

.features {
    text-align: center;
    display: flex;
}

.features .features__info {
    width: 400px;
    background-color: #81b3d2;
}

.features .bridge__info {
    width: 400px;
    background-color: #81b3d2;
}

.features .features__image {
    flex: 1;
    background-image: url(../img/feature-picture.jpg);
    background-size: cover;
}

.features .bridge__image {
    flex: 1;
    background-image: url(../img/layer-5.jpg);
    background-size: cover;
}

.features .features__info .features__title {
    margin-top: 46px;
    margin-bottom: 36px;
}

.features .bridge__info .bridge__title {
    margin-top: 46px;
    margin-bottom: 36px;
}

.features .features__info .features__number {
    margin-bottom: 36px;
}

.features .bridge__info .bridge__number {
    margin-bottom: 36px;
}

.features .features__info .features__text {
    margin-bottom: 64px;
}

.features .bridge__info .bridge__text {
    margin-bottom: 64px;
}

.features-list {
    list-style: none;
    text-align: center;
}

.features__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.bridge__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.features__number {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.bridge__number {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.features__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.bridge__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.services {
    padding: 60px 0 85px 0;
}

.services h2 {
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
}

.services-list {
    display: flex;
    list-style: none;
}

.services-item {
    text-align: center;
}

.services-item h3 {
    margin: 30px 0 30px 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.services-item p {
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 1.5;
}

.interesting {
    padding-top: 57px;
    text-align: center;
}

.interesting h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.interesting p {
    width: 434px;
    margin: 0 auto;
    margin-bottom: 52px;
    text-transform: uppercase;
}

.more {
    padding: 8px 17px;
    color: white;
    background: #81b3d2;
    text-transform: uppercase;
}


.rating {
    padding: 5px 16px;
    text-align: center;
    color: #666666;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

.housing li {
    list-style: none;
}

.reasons__continued {
    display: flex;
    list-style: none;
}

.reasons-item-square {
    color: #333333;
}

.housing__catalog__item {
    display: flex;
    justify-content: space-between;
    padding: 30px 72px;
    border-top: 1px solid #f2f2f2;
}

.housing__catalog__item:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.housing__catalog__image {
    margin-right: 30px;
}

.housing__catalog__info {
    margin-right: auto;
}

.housing__catalog__info h2 {
    margin-bottom: 17px;
}

.info-block {
    display: inline-block;
}

.info-block p {
    margin-bottom: 18px;
}

.aligned-to-left {
    text-align: left;
}


/* FOOTER */

.footer__social-list {
    list-style: none;
}

.footer__social-list-item {
    display: inline-block;
}

.social-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #81b3d2;
    list-style: none;
    width: 48px;
    height: 46px;
}

.social-button-image {
    align-items: center;
}

.developer {
    display: flex;
    align-items: center;
}

.developer__text {
    text-transform: uppercase;
    margin-right: 8px;
}

.developer__link {
    width: 115px;
}

.logo-html {
    width: 115px;
    height: 41px;
    object-fit: contain;
}

.social {
    display: flex;
    list-style: none;
}

.footer {
    padding: 36px 0;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}

.map {
    background-image: url(../img/map.jpg);
    width: 1200px;
    height: 593px;
    object-fit: contain;
}

/* ////////////////////////////////////////////////////////// */

/* SEARCH */

.booking {
    padding: 8px 16px;
    color: white;
    background: #766357;
    text-transform: uppercase;
}

.search {
    text-align: center;
}

.index-columns {
    text-align: center;
}

.search-button {
    font-size: 21px;
    width: 568px;
    height: 86px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}

.modal-search {
    position: absolute;
    bottom: 262px;
    left: 50%;
    transform: translate(-50%);
    width: 568px;
    padding: 55px;
    background-color: #ffffff;
}

.modal-search label {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
}

.modal-search input {
    font: inherit;
    background: #f2f2f2;
    color: #000000;
    border: none;
}

.modal-search .form-block {
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
}

.modal-search .form-block label {
    text-transform: uppercase;
}

.modal-search .form-block input {
    padding: 0 13px 0 9px;
    width: 346px;
    height: 38px;
    margin-right: -50px;
}

.modal-search .form-block img {
    color: #a9a9a9;
}

.blue-button  {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-size: 21px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}

.form-block input {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.quantity-block {
    display: flex;
    justify-content: space-between;
}

.form-label {
    width: 112px;
}

/* CATALOG */

.breadcrumbs {
    padding: 31px 72px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
}

.size {
    margin-right: 49px;
}

.sort-types {
    font-size: 12px;
    margin-right: auto;
}

.sort-types-text {
    margin-right: 40px;
}

.size-text {
    font-size: 21px;
    font-weight: bold;
}

.sort-types__link {
    margin-right: 33px;
    text-decoration: none;
}

.sort-types__link.blue {
    color: #81b3d2;
}

.sort-types__link.grey {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.direction {
    display: flex;
}

.triangle.up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 10px solid #cacaca;
}

.triangle.down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 10px solid #81b3d2;
}

.star-block {
    margin-bottom: 47px;
}

/* /////////////////////////////////////////////////////// */

/* FILTER */

.filter-block {
    background-image: url(../img/filter-background.png);
    background-position: center;
    padding: 31px 72px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
}

.options-block {
    display: flex;
    flex-wrap: wrap;
}

.options-block__item {
    width: 50%;
}
