* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: #333333;
    background-color: #f2f2f2;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.main-navigation a {

    text-decoration: none;
}

.main-header {
    position: relative;
    text-align: center;
}

.main-navigation {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color:  #000000; 
    background-color:#ffffff;
}

.container {
    background-color: #ffffff;
    width: 1200px;
}

.sedona-town {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    color: #000000;
}

.reasons {
    font-family: "PT Sans Regular", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    color: #333333;
}

.cause {
    text-align: center;
    color: #333333;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.site-navigation li {
    display: inline;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    background-color: blue;
}

.site-navigation a:focus {
    background-color: lightgray;
}

.welcome{
    padding: 76px;
    text-align: center; 
    background-image: url("../img/background.png");
    object-fit: contain;
    background-size: cover;
    
}

.features {
    text-align: center;
    display: flex;
}

.bridge {
    text-align: center;
    display: flex; 
}

.features .features__info {
    flex: 0 0 20%;
    background-color: #81b3d2;
}

.bridge .bridge__info {
    flex: 0 0 20%;
    background-color: #81b3d2;
}

.features .features__image {
    flex: 1;
    background-image: url(../img/feature-picture.jpg);  
}

.bridge .bridge__image {
    flex: 1;
    background-image: url(../img/layer-5.jpg);
}

.features .features__info .features__title {
    margin-top: 46px;
    margin-bottom: 36px;
}

.bridge.bridge__info .bridge__title {
    margin-top: 46px;
    margin-bottom: 36px;
}

.features .features__info .features__number {
    margin-bottom: 36px;
}

.bridge .bridge__info .bridge__number {
    margin-bottom: 36px;
}

.features .features__info .features__text {
    margin-bottom: 64px;
}

.bridge .bridge__info .bridge__text {
    margin-bottom: 64px;
}

.features-list {
    list-style: none;  
    text-align: center;  
}

.features__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.bridge__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.features__number {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.bridge__number {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.features__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.bridge__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.services h2 {
    text-align: center; 
    font-family: "PT Sans", Arial, sans-serif;
}

.services-list {
    display: flex;
    list-style: none;
}

.services-item {
    text-align: center;
}

.services-item h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
}

.interesting {
    text-align: center;
}

.more a {
    color: white;
    background: #81b3d2;
}

.booking a {
    color: white;
    background: #766357;
}

.search {
    text-align: center;
}

.index-columns {
    text-align: center;
}

.modal-search__body {
    width: 568px;
    height: 395px; 
}

form {
    width: 568px;
    align-items: center;
    background-color: #ffffff;
}

.search-button {
    font-size: 21px;
    width: 568px;
    height: 86px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
}

.modal-search__body {
    text-align: center;
    width: 568px;
    height: 395px;
    size: 14px;
    font-weight: bold;
}

.modal-search__body input {
    font: inherit;
    background: #f2f2f2;
    color: #000000;
}

.blue-button  {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-size: 21px;
    color: #ffffff;
}

.modal-search__body {
    background-image: url(../img/map.jpg);
    width: 1200px;
    height: 593px;
    object-fit: contain;
}

.rating {
    width: 110px;
    height: 27px;
    font-size: 14px;
    text-align: center;
    color: #666666;
    background-color: #f2f2f2;
}

.housing li {
    list-style: none;
}

.visitsedona {
    width: 136px;
    height: 16px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
}

.footer__social-list-item {
    display: inline-block;
}

.social-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #81b3d2;
    list-style: none;
    width: 48px;
    height: 46px;
} 

.social-button-image {
    align-items: center;
}

.developer {
    /* display: flex; */
}

.developer__text {
    /* display: inline-block; */
    font-size:14px;
    line-height: 26px;
    color:black;
    font-family: "PT Sans","Arial", sans-serif;
    font-weight: 800;
    /* padding-bottom: 5px; */
}

.developer__link {
    /* padding-top: 5px; */
}



.logo-html {
    width: 115px;
    height: 41px;
    object-fit: contain;
}

.social {
    display: flex;
    list-style: none;
}

/* .footer__social-list-item {
} */

.footer {
    padding: 36px 0;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}

.reasons__continued {
    display: flex;
    list-style: none;
    background-color: #eeeeee;
}

.reasons-item-square {
    color: #333333;
}

.housing__catalog__item {
    display: flex;
    padding: 30px 72px;
    border-top: 1px solid #f2f2f2;
}

.housing__catalog__item:last-child {
    border-bottom: 1px solid #f2f2f2;
}